#bio {
    padding: 10px 5% 12px;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    color: rgba(57, 56, 54, 1);
}

.avatar {
    width: 22px;
    height: 22px;
}

.logout-h {
    color: rgba(136, 133, 126, 1);
}

.logout-h:hover {
    color: rgba(198, 194, 185, 1);
}

#logout {
    display: none;
}

.user:hover {
    background-color: rgba(198, 194, 185, 1);
    cursor: pointer;
}

#panel-hidden {
    display: none;
}