<h1>Welcome to Dragons Get It!</h1>

<br>
Hi {name},<br>
you are just one more step to have a valid account in the Dragons Get It system.<br>
Activate your account by clicking the link bellow:<br><br>
<a href="{self}?activation={activation_base}">{self}?activation={activation_base}</a>